h1
{
    color:#0000FF;
}
h2
{
    color:#FF0000;
}
body
{
    margin:0; padding:0;

}

#map
{
    position:absolute; top:0; bottom:0; width:100%;
}
#marker
{
    background-image: url('https://cdn1.vectorstock.com/i/1000x1000/46/90/hotel-icon-on-white-background-hotel-sign-flat-vector-15864690.jpg');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 25%;
    cursor: pointer;
}
.mapboxgl-popup
{
    max-width: 200px;
}